@use "../sass/fonts.scss";

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-\[0\] {
  inset: 0;
}

.z-\[10\] {
  z-index: 10;
}

.m-0 {
  margin: 0px;
}

.m-\[0px\] {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[25px\] {
  margin-bottom: 25px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[40px\] {
  height: 40px;
}

.h-full {
  height: 100%;
}

.max-h-\[80vh\] {
  max-height: 80vh;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[285px\] {
  width: 285px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[40px\] {
  width: 40px;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.list-none {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.overflow-auto {
  overflow: auto;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-none {
  border-style: none;
}

.bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5);
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-zinc-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity, 1));
}

.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}

.bg-\[url\(\'\/images\/checkbox-disabled\.svg\'\)\] {
  background-image: url('../images/checkbox-disabled.svg');
}

.bg-\[url\(\'\/images\/image\.png\'\)\] {
  background-image: url('../images/image.png');
}

.bg-\[url\(\'\/images\/mobile-burger\.png\'\)\] {
  background-image: url('../images/mobile-burger.png');
}

.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-0 {
  padding: 0px;
}

.p-10 {
  padding: 2.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pr-\[15px\] {
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.font-mono {
  font-family: Space Mono, monospace;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.not-italic {
  font-style: normal;
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.no-underline {
  text-decoration-line: none;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 768px) {
  .container-responsive {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container-responsive {
    width: 1280px;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.peer:checked~.peer-checked\:bg-\[url\(\'\/images\/checkbox-enabled\.svg\'\)\] {
  background-image: url('../images/checkbox-enabled.svg');
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .md\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .md\:mb-\[40px\] {
    margin-bottom: 40px;
  }

  .md\:ml-\[20px\] {
    margin-left: 20px;
  }

  .md\:mr-\[10px\] {
    margin-right: 10px;
  }

  .md\:mr-\[15px\] {
    margin-right: 15px;
  }

  .md\:mr-\[20px\] {
    margin-right: 20px;
  }

  .md\:mt-\[15px\] {
    margin-top: 15px;
  }

  .md\:mt-\[40px\] {
    margin-top: 40px;
  }

  .md\:mt-\[50px\] {
    margin-top: 50px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[400px\] {
    height: 400px;
  }

  .md\:w-\[230px\] {
    width: 230px;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:w-\[450px\] {
    width: 450px;
  }

  .md\:w-\[700px\] {
    width: 700px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:mb-\[115px\] {
    margin-bottom: 115px;
  }

  .xl\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .xl\:mb-\[75px\] {
    margin-bottom: 75px;
  }

  .xl\:ml-0 {
    margin-left: 0px;
  }

  .xl\:ml-\[20px\] {
    margin-left: 20px;
  }

  .xl\:mr-0 {
    margin-right: 0px;
  }

  .xl\:mr-\[10px\] {
    margin-right: 10px;
  }

  .xl\:mr-\[20px\] {
    margin-right: 20px;
  }

  .xl\:mr-\[30px\] {
    margin-right: 30px;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-\[50px\] {
    margin-top: 50px;
  }

  .xl\:h-\[30px\] {
    height: 30px;
  }

  .xl\:h-\[40px\] {
    height: 40px;
  }

  .xl\:h-\[500px\] {
    height: 500px;
  }

  .xl\:w-\[250px\] {
    width: 250px;
  }

  .xl\:w-\[350px\] {
    width: 350px;
  }

  .xl\:w-\[850px\] {
    width: 850px;
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}